.searchPanel
{
    width: 15%;
    height: 400px;
    float: left;
    margin: 0.83%;
}

#searchPanelWraper
{ 
    margin: 0 auto;
}

.searchPanelImage
{
    height: 250px;
}

.searchPanelButton
{
    position: relative;
    bottom: 3px;
}

.searchPanelPrice
{
    font-weight: 400;
    font-size: 25px;
    margin-top: 7%;
    font-family: "Lucida Sans Unicode";
}

.bookDetailData
{
    width: 150px;
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
}

.bookDetailImage
{
    width: 30%;
}

.bookDetailBtn
{
    padding-left: 20%;
}

.searchPanelImage:hover
{
    -moz-box-shadow: 0 0 30px #0C68C2;
    -webkit-box-shadow: 0 0 30px #0C68C2;
    box-shadow: 0 0 30px #0C68C2;
}

.bookPanelLink
{
    display: block;
}